body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e8f7ee;
    backdrop-filter: blur(9px);
    display: flex;
    justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(https://media1.tenor.com/m/PbZ_WNHrfd0AAAAC/otgw-otgw-wirt.gif) repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}


.container {
    max-width: 620px;
    margin: auto;
    background-color: #b8c4bb;
    backdrop-filter: blur(9px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #e8f7ee;
    border-radius: 4px;
}
input:focus, textarea:focus {
    border-color: rgb(204, 98, 146);
    outline: none;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #663f46;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
.highlight {
    background-color: yellow !important;
}
